<div>
  <h1 class="font-bold text-4xl">Center#center</h1>
  <p>Find me in app/views/center.html.erb</p>
  <ul>
    <% @centers.each do |center| %>
      <li>
        <%= center.name %> <%= center.ltd %> <%= center.lng %>
      </li>
    <% end %>
  </ul>
</div>
